html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

.header_parent {
	background-color: #87af73;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: -2px;
}
@media (prefers-color-scheme: dark) {
	.samsung_internet {
		background-color: #87af73;
		color: white;
	}
	.header_parent {
		background-color: #87af73;
	}
}
@media (prefers-color-scheme: light) {
	.samsung_internet {
		background-color: #87af73;
		color: white;
	}
	.header_parent {
		background-color: #87af73;
	}
}
