.container {
	padding: 0 2rem;
}

.headline,
.projectinfo_question,
.subtitle,
.projectinfo_answer,
.water_image_descriptor,
.nav {
	font-family: "Century Gothic";
	font-style: normal;
	font-weight: 400;
}

.main {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	--sage_green: #87af73;
}

.top_header_parent {
	width: 100%;
}
.top_subtitle {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	padding: 8px 8px 8px 0px;
	gap: 8px;

	width: 70px;
	height: 40px;
	color: #ffffff;
}

.header {
	background-color: var(--sage_green);
	width: 100%;
}

.nav {
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 80%;
	height: 125px;
}

.logo {
	width: 100px;
	color: #ffffff;
}

.lang_menu {
	width: full;
	text-align: center;
	position: relative;
	color: #ffffff;
}
.lang_menu .selected_lang {
	display: flex;
	justify-content: space-between;
	line-height: 2;
	cursor: pointer;
	gap: 8px;
}

.lang_menu ul {
	margin: 0;
	padding: 0;
	display: none;
	background-color: #fff;
	border: 1px solid #f8f8f8;
	color: #454b41;
	position: absolute;
	top: 45px;
	right: 0px;
	width: 120px;
	border-radius: 5px;
	box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
}

.lang_menu ul li {
	list-style: none;
	text-align: left;
	display: flex;
	justify-content: left;
	gap: 8px;
	padding-left: 8px;
}

.lang_menu ul li:hover {
	background-color: #d0d0d0;
	display: flex;
	justify-content: left;
	gap: 8px;
	overflow: hidden;
}

.lang_menu:hover ul {
	display: block;
}

.listItems {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	list-style: none;
	align-content: center;
}

.header_parent {
	background-color: #87af73;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: -2px;
}

.headline {
	width: 260px;
	height: 60px;
	left: 50px;
	top: 170px;
	font-size: 48px;
	line-height: 59px;
	text-align: center;
	color: #ffffff;
}

.subtitle {
	width: 255px;
	height: 50px;
	font-size: 20px;
	line-height: 25px;
	text-align: center;
	color: #ffffff;

	order: 0;
	flex-grow: 0;
}
.projectinfo_question {
	width: 80%;
	height: full;

	font-size: 28px;
	line-height: 34px;
	text-align: center;
	margin: auto;
	margin-top: 1.75rem;
	margin-bottom: 1rem;
	color: #87af73;

	flex: none;
	order: 0;
	flex-grow: 1;
}
.projectinfo_text {
	width: 80%;
	height: full;
	font-size: 1.25rem;
	line-height: 1.5rem;
	text-align: justify;
	justify-content: center;
	margin: auto;

	color: #454b41;
	flex: none;
	order: 0;
	align-self: stretch;
	flex-grow: 1;
}

.image {
	margin-top: 2rem;
	margin-bottom: 0.5rem;
	display: flex;
	justify-content: center;
}
.image img {
	margin: auto;
}
.image_descriptor {
	width: 60%;
	height: full;
	font-size: 1.5rem;
	line-height: 1.5rem;
	text-align: center;
	color: #454b41;
	margin: auto;
	margin-top: 1rem;
	flex: none;
	order: 0;
	align-self: stretch;
	flex-grow: 1;
}
.footer {
	display: flex;
	flex: 1;
	padding: 2rem 0;
	border-top: 1px solid #eaeaea;
	justify-content: center;
	align-items: center;
}

@media (max-width: 600px) {
	.grid {
		width: 100%;
		flex-direction: column;
	}
}
